<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Editar Categoría</div>
        <button
            mat-icon-button
            (click)="close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>


    <form class="p-4 bg-card shadow rounded overflow-hidden" >
        <div class="flex">
            <mat-form-field class="flex-auto">
                <mat-label>Título</mat-label>
                <input matInput required placeholder="Título" value="Citas médicas">
            </mat-form-field>
        </div>
        <div class="flex">

            <mat-form-field class="flex-auto">
                <mat-label>Color etiqueta</mat-label>
                <input matInput placeholder="#FFF0000" value="#FFF0000">
            </mat-form-field>
        </div>

        <section>

            <div class="flex justify-end mt-8">
              <button class="px-8 mr-2" mat-raised-button color="accent" (click)="close()" >Cancelar</button>
              <button class="px-8" mat-raised-button color="primary" (click)="save()">Guardar</button>

            </div>
          </section>

    </form>
</div>
