<div class="hero container max-w-screen-lg mx-auto pb-10">
    <img
        class="w-32 h-32 rounded-full ring-4 ring-bg-card mx-auto"
        src="assets/images/avatars/male-04.jpg"
        alt="Usuario">
        <h1 class="text-center">Invitado Uniandes</h1>
        <p class="text-center"> 3154215487 </p>
        <p>&nbsp;</p>
        <p class="text-center">Iniciaste sesión con </p>

        <div class="flex justify-center items-center mt-1 space-x-1">

            <button
                class="flex "
                type="button"
                mat-stroked-button>
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'feather:facebook'"></mat-icon>
            </button>

        </div>

</div>

