<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-6"
                                [svgIcon]="'heroicons_outline:tag'"></mat-icon>
                             <!-- Title -->
                            <div class="mt-2">
                                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                                    <ng-container >
                                        <h1>Categoría</h1>
                                    </ng-container>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        (click)="abrirFormCrearCategoria()"
                        >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_outline:tag'"></mat-icon>
                        <span class="ml-2">Nueva categoría</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="w-full max-w-screen-xl mx-auto">
            <mat-grid-list cols="5" rowHeight="5:1">
                <mat-grid-tile [colspan]="1">Color etiqueta</mat-grid-tile>
                <mat-grid-tile>Label</mat-grid-tile>
                <mat-grid-tile>Cantidad de alarmas</mat-grid-tile>
                <mat-grid-tile >Acciones</mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list *ngFor="let item of categorias" cols="5" rowHeight="5:1">
                <mat-grid-tile [colspan]="1" ><mat-icon svgIcon="heroicons_solid:tag" class="flex justify-center  ml-1 text-{{item.color}}-500 dark:text-{{item.color}}-400"></mat-icon></mat-grid-tile>
                <mat-grid-tile>{{item.titulo}}</mat-grid-tile>
                <mat-grid-tile>{{item.alarmas}}{{item.color}}</mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="primary" (click)="abrirFormEditarCategoria(item.titulo)"><mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon></button>
                    <button mat-button color="warn" (click)="deleteCat(item.titulo)"><mat-icon svgIcon="heroicons_outline:trash"></mat-icon></button>
                </mat-grid-tile>
              </mat-grid-list>



        </div>
    </div>

</div>

