<div class="w-full max-w-3xl">
    <div class="w-full">
        <div class="text-xl">Tema</div>
    
    </div>

    <mat-radio-group aria-label="">
        <mat-radio-button value="1">Luz</mat-radio-button><br>
        <mat-radio-button value="2">Oscuro</mat-radio-button><br>
        <mat-radio-button value="3">Utilizar configuración del dispositivo</mat-radio-button>
      </mat-radio-group>


      <div class="flex items-center justify-end">
        <button
            mat-stroked-button
            type="button">
            Cancelar
        </button>
        <button
            class="ml-4"
            mat-flat-button
            type="button"
            [color]="'primary'">Guardar
        </button>
    </div>      

</div>    




  