<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-6"
                                [svgIcon]="'mat_solid:access_alarms'"></mat-icon>
                             <!-- Title -->
                            <div class="mt-2">
                                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                                    <ng-container >
                                        <h1>Alarmas</h1>
                                    </ng-container>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        class="bg-accent"
                        mat-flat-button
                        (click)="abrirFormCrearGrupo()"
                        [color]="'accent'">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_outline:user-group'"
                            ></mat-icon>
                        <span class="ml-2">Nuevo grupo</span>
                    </button>
                    <button
                        class="bg-accent"
                        mat-flat-button
                        [color]="'accent'">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_outline:tag'"></mat-icon>
                        <span class="ml-2">Nueva categoría</span>
                    </button>
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        [routerLink]="['/Alarmas/nueva-alarma']"
                        >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'mat_solid:access_alarms'"></mat-icon>
                        <span class="ml-2">Nueva alarma</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <!-- Tabs -->
            <mat-tab-group
                class="sm:px-2"
                mat-stretch-tabs="false"
                [animationDuration]="'0'">

                <!-- Alarmas Activas -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="inline-flex items-center space-x-2">
                            <span class="">Activas</span>
                            <span class="px-2 py-1 text-sm rounded-full bg-primary-100 text-on-primary-100">9</span>
                        </span>
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
                          <app-alarm-card *ngFor="let a of alarmas"
                          [titulo]="a.titulo"
                          [categoria]="a.categoria"
                          [fecha]="a.fecha"
                          [activo]="a.activo"
                          ></app-alarm-card>

                        </div>
                    </ng-template>
                </mat-tab>

                <!-- Alarmas Inactivas -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="inline-flex items-center space-x-2">
                            <span class="">Inactivas</span>
                            <span class="px-2 py-1 text-sm rounded-full bg-primary-100 text-on-primary-100">5</span>
                        </span>
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
                            <app-alarm-card *ngFor="let a of alarmasInactivas"
                            [titulo]="a.titulo"
                            [categoria]="a.categoria"
                            [fecha]="a.fecha"
                            [activo]="a.activo"
                            ></app-alarm-card>
                          </div>
                    </ng-template>
                </mat-tab>

                <!-- Alarmas Hoy -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="inline-flex items-center space-x-2">
                            <span class="">Hoy</span>
                            <span class="px-2 py-1 text-sm rounded-full bg-primary-100 text-on-primary-100">1</span>
                        </span>
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
                            <app-alarm-card *ngFor="let a of alarmasHoy"
                            [titulo]="a.titulo"
                            [categoria]="a.categoria"
                            [fecha]="a.fecha"
                            [activo]="a.activo"
                            ></app-alarm-card>
                        </div>
                    </ng-template>
                </mat-tab>

                <!-- Alarmas Proximamente -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="inline-flex items-center space-x-2">
                            <span class="">Proximamente</span>
                            <span class="px-2 py-1 text-sm rounded-full bg-primary-100 text-on-primary-100">5</span>
                        </span>
                    </ng-template>
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
                            <app-alarm-card *ngFor="let a of alarmasProximas"
                            [titulo]="a.titulo"
                            [categoria]="a.categoria"
                            [fecha]="a.fecha"
                            [activo]="a.activo"
                            ></app-alarm-card>
                        </div>
                    </ng-template>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>

</div>

